<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <!-- css file -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- javascript file -->
    <script src="/javascripts/script.js" defer></script>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  </head>
  <body class="flex flex-col min-h-screen">
    <div class="bg-zinc-900 w-full flex-grow">
      <nav class="flex justify-between bg-[#CA2B58] text-white p-5">
        <div class="logo">
          <a href="/profile/<%= user.username %>" class="text-2xl tracking-tight ml-8 font-[cursive]">NoteNexus</a>
        </div>

        <!-- Hamburger Icon (hidden on md and above) -->
        <div class="hamburger md:hidden flex items-center mr-8">
          <button class="menu-toggle">
            <i class="fa-solid fa-bars text-2xl"></i>
          </button>
        </div>

        <div class="nav-items md:flex gap-8 mr-8 text-md hidden">
          <a href="/notes">NOTES</a>
          <a href="/bin">BIN</a>
          <a href="/archive">ARCHIVE</a>
          <form action="/logout" method="post">
            <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
          </form>
        </div>
      </nav>

      <!-- Mobile Menu (for small screens) -->
      <div class="hidden flex text-xl font-semibold justify-between p-4 text-white bg-blue-500 md:hidden mobile-menu">
        <a href="/notes">NOTES</a>
        <a href="/bin">BIN</a>
        <a href="/archive">ARCHIVE</a>
        <form action="/logout" method="post">
          <button type="submit">LOG OUT</button>
        </form>
      </div>

      <section class="my-8">
        <h3 class="text-3xl text-[#CA2B58] ml-5">Change Password</h3>
      </section>

      <div class="edit-list px-5">
        <form action="/<%= user.username %>/update-password" method="post" class="mb-5">
          <div class="mb-4 flex flex-col sm:flex-row items-start sm:items-center gap-5">
            <label for="oldPassword" class="text-white w-32">Old Password</label>
            <input type="password" name="oldPassword" class="w-full sm:w-96 bg-zinc-800 text-zinc-400 p-2 rounded-md outline-none" required />
          </div>
          <div class="mb-4 flex flex-col sm:flex-row items-start sm:items-center gap-5">
            <label for="newPassword" class="text-white w-32">New Password</label>
            <input type="password" name="newPassword" class="w-full sm:w-96 bg-zinc-800 text-zinc-400 p-2 rounded-md" required />
          </div>

          <button type="submit" class="bg-yellow-500 text-black px-4 py-2 rounded-md mt-5 outline-none">Update Password</button>
        </form>
      </div>
    </div>

    <footer class="bg-[#CA2B58] p-4">
      <p class="text-center text-white text-xl tracking-tight">NoteNexus &copy; 2024</p>
    </footer>
  </body>
</html>
