<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col min-h-screen">
    <div class="bg-zinc-900 w-full flex-grow">
      <nav class="flex justify-between bg-[#CA2B58] text-white p-5">
        <div class="logo">
          <h1 class="text-2xl tracking-tight ml-8 font-[cursive]">NoteNexus</h1>
        </div>
        <div class="nav-items flex gap-8 mr-8 text-md">
          <a href="/notes">NOTES</a>
          <a href="/bin">BIN</a>
          <a href="/archive">ARCHIVE</a>
        </div>
      </nav>
      <!-- form -->
      <form action="/addnotes" method="post" class="mt-12 flex flex-col items-center">
        <input class="block w-96 bg-zinc-800 mb-4 rounded-md px-5 py-2 outline-none text-zinc-400" type="text" placeholder="Enter Title" name="title" required />

        <textarea name="description" placeholder="Enter description" class="mb-4 block w-96 rounded-md outline-none px-5 py-2 bg-zinc-800 resize-none"></textarea>

        <input class="bg-blue-500 text-white w-96 rounded-md px-4 py-2 mb-3" type="submit" value="Add Note" />

        <a class="text-blue-500" href="/notes">Click here to see Notes.</a>
      </form>
    </div>

    <footer class="bg-[#CA2B58] p-4">
      <p class="text-center text-white text-xl tracking-tight">NoteNexus &copy; 2024</p>
    </footer>
  </body>
</html>
