.searchIcon {
  margin-left: -2rem;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@media (max-width: 640px) {
  .searchIcon {
    margin-left: 95%;
    margin-top: -2rem;
    display: flex;
  }
}

@media (max-width: 450px) {
  .searchIcon {
    margin-left: 90%;
  }
}

@media (max-width: 400px) {
  .mobile-menu {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .mobile-menu a {
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
  }
}
